@import "_fonts.css";

html {
    height: 100%;
}

body {
    background-color: rgba(49, 27, 146, 1);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100vh;
}

.scroll-lock {
    overflow: hidden;
}

.el-scroll {
    padding: 10px 0;
    top: 0;
    position: sticky;
    width: 100%;
    transition: all 0.4s ease;
    background: RGBA(49, 27, 146, 0.4);
    background: linear-gradient(180deg,rgba(49, 27, 146, 0.6) 0%, rgba(48, 11, 214, 0.2) 100%);
    backdrop-filter: blur(7px);
    border-radius: 0 0 50px 50px;
    z-index: 20;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}

ul {
    padding: 0;
    list-style: none;
}

.content__loading {
    margin: 0 auto;
    width: 30%;
    height: 1px;
    background: #2b5463;
    background: linear-gradient(170deg,rgba(43, 84, 99, 1) 0%, rgba(120, 94, 191, 1) 65%, rgba(247, 104, 154, 1) 100%);
    border-radius: 10px;
    filter: drop-shadow(0 2px 3px rgba(43, 84, 99, 1));
    overflow: hidden;
    animation: slideInfinite 1.5s ease-in-out infinite alternate;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInfinite {
    0% {
        left: -200%;
        width: 1px;
    }
    50% {
        width: 90%;
    }
    100% {
        left: 80%;
        width: 1%;
    }
}

